<ul class="mb-2 navigation">
    <li class="transition-colors delay-150 inline-flex w-full py-2 px-3 my-1 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer active:bg-[#e0fad8] bg-[#e0fad8]">
        <img src="../../../assets/icon/inbox.svg" alt="">
        <p class="ml-3 place-self-center nav-title">Inbox</p>
        <span class="m-auto"></span>
        <div class="bg-[#0e1218] text-white rounded-md px-2 py-1"><p>9+</p></div>
    </li>
    <li class="transition-colors delay-50 inline-flex w-full py-2 px-3 my-1 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
        <img src="../../../assets/icon/mail.svg" alt="">
        <p class="ml-3 place-self-center nav-title">Draft</p>
        <span class="m-auto"></span>
        <div class="bg-[#0e1218] text-white rounded-md px-2 py-1"><p>9+</p></div>
    </li>
    <li class="transition-colors delay-50 inline-flex w-full py-2 px-3 my-1 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
        <img src="../../../assets/icon/clock.svg" alt="">
        <p class="ml-3 place-self-center nav-title">Reminders</p>
        <span class="m-auto"></span>
        <div class="bg-[#0e1218] text-white rounded-md px-2 py-1"><p>9+</p></div>
    </li>
    <li class="transition-colors delay-50 inline-flex w-full py-2 px-3 my-1 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
        <img src="../../../assets/icon/calendar.svg" alt="">
        <p class="ml-3 place-self-center nav-title">Schedule</p>
        <span class="m-auto"></span>
        <div class="bg-[#0e1218] text-white rounded-md px-2 py-1"><p>9+</p></div>
    </li>
    <li class="transition-colors delay-50 inline-flex w-full py-2 px-3 my-1 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
        <img src="../../../assets/icon/trash.svg" alt="">
        <p class="ml-3 place-self-center nav-title">Trash</p>
        <span class="m-auto"></span>
        <div class="bg-[#0e1218] text-white rounded-md px-2 py-1"><p>9+</p></div>
    </li>
    <li class="transition-colors delay-50 inline-flex w-full py-2 px-3 my-1 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
        <img src="../../../assets/icon/bell.svg" alt="">
        <p class="ml-3 place-self-center nav-title">Spam</p>
        <span class="m-auto"></span>
        <div class="bg-[#0e1218] text-white rounded-md px-2 py-1"><p>9+</p></div>
    </li>
</ul>
<hr class="border-1 border-slate-200">
<div class="inline-flex w-full my-2">
    <h3 class="place-self-center text-slate-500">Contacts</h3>
    <span class="m-auto"></span>
    <button class="p-2 rounded-md bg-[#e0fad8] m-1">
        <img src="../../../assets/icon/plus.svg" alt="" width="20" height="20">
    </button>
    <button class="p-2 rounded-md hover:bg-slate-200 m-1">
        <img src="../../../assets/icon/more.svg" alt="" width="20" height="20">
    </button>
</div>
<div class="h-60 overflow-y-scroll">
    <ul class="contacts">
        <li class="transition-colors delay-50 inline-flex my-1 hover:bg-[#e0fad8] hover:cursor-pointer w-full p-1">
            <img class="rounded-full object-cover w-10 h-10" src="../../../assets/img/naruto.jpg" alt="">
            <p class="place-self-center ml-3 text-sm">Uzumaki Naruto</p>
            <span class="m-auto"></span>
            <button class="mr-2 hover:bg-[#eefce9] place-self-center p-2 rounded-md">
                <img src="../../../assets/icon/send.svg" alt="" width="20" height="20">
            </button>
        </li>
        <li class="transition-colors delay-50 inline-flex my-1 hover:bg-[#e0fad8] hover:cursor-pointer w-full p-1">
            <img class="rounded-full object-cover w-10 h-10" src="../../../assets/img/sasuke.jpg" alt="">
            <p class="place-self-center ml-3 text-sm">Uchiha Sasuke</p>
            <span class="m-auto"></span>
            <button class="mr-2 hover:bg-[#eefce9] place-self-center p-2 rounded-md">
                <img src="../../../assets/icon/send.svg" alt="" width="20" height="20">
            </button>
        </li>
        <li class="transition-colors delay-50 inline-flex my-1 hover:bg-[#e0fad8] hover:cursor-pointer w-full p-1">
            <img class="rounded-full object-cover w-10 h-10" src="../../../assets/img/sakura.jpg" alt="">
            <p class="place-self-center ml-3 text-sm">Haruno Sakura</p>
            <span class="m-auto"></span>
            <button class="mr-2 hover:bg-[#eefce9] place-self-center p-2 rounded-md">
                <img src="../../../assets/icon/send.svg" alt="" width="20" height="20">
            </button>
        </li>
        <li class="transition-colors delay-50 inline-flex my-1 hover:bg-[#e0fad8] hover:cursor-pointer w-full p-1">
            <img class="rounded-full object-cover w-10 h-10" src="../../../assets/img/shikamaru.jpg" alt="">
            <p class="place-self-center ml-3 text-sm">Nara Shikamaru</p>
            <span class="m-auto"></span>
            <button class="mr-2 hover:bg-[#eefce9] place-self-center p-2 rounded-md">
                <img src="../../../assets/icon/send.svg" alt="" width="20" height="20">
            </button>
        </li>
        <li class="transition-colors delay-50 inline-flex my-1 hover:bg-[#e0fad8] hover:cursor-pointer w-full p-1">
            <img class="rounded-full object-cover w-10 h-10" src="../../../assets/img/choji.png" alt="">
            <p class="place-self-center ml-3 text-sm">Akimichi Choji</p>
            <span class="m-auto"></span>
            <button class="mr-2 hover:bg-[#eefce9] place-self-center p-2 rounded-md">
                <img src="../../../assets/icon/send.svg" alt="" width="20" height="20">
            </button>
        </li>
        <li class="transition-colors delay-50 inline-flex my-1 hover:bg-[#e0fad8] hover:cursor-pointer w-full p-1">
            <img class="rounded-full object-cover w-10 h-10" src="../../../assets/img/ino.jfif" alt="">
            <p class="place-self-center ml-3 text-sm">Yamanaka Ino</p>
            <span class="m-auto"></span>
            <button class="mr-2 hover:bg-[#eefce9] place-self-center p-2 rounded-md">
                <img src="../../../assets/icon/send.svg" alt="" width="20" height="20">
            </button>
        </li>
    </ul>
</div>