<div class="h-[calc(100vh-156px)]">
    <app-header></app-header>
    <div class="grid grid-cols-12 gap-0 h-full">
        <div class="col-span-2 p-4 bg-white">
            <ul class="mb-2">
                <li class="transition-colors delay-150 inline-flex w-full py-3 px-3 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
                    <img src="../../../assets/icon/inbox.svg" alt="">
                    <p class="ml-2">Inbox</p>
                    <span class="m-auto"></span>
                    <div class="bg-[#0e1218] text-white rounded-md px-2 py-0"><p>99+</p></div>
                </li>
                <li class="transition-colors delay-150 inline-flex w-full py-3 px-3 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
                    <img src="../../../assets/icon/mail.svg" alt="">
                    <p class="ml-2">Draft</p>
                    <span class="m-auto"></span>
                    <div class="bg-[#0e1218] text-white rounded-md px-2 py-0"><p>99+</p></div>
                </li>
                <li class="transition-colors delay-150 inline-flex w-full py-3 px-3 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
                    <img src="../../../assets/icon/clock.svg" alt="">
                    <p class="ml-2">Reminders</p>
                    <span class="m-auto"></span>
                    <div class="bg-[#0e1218] text-white rounded-md px-2 py-0"><p>99+</p></div>
                </li>
                <li class="transition-colors delay-150 inline-flex w-full py-3 px-3 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
                    <img src="../../../assets/icon/clock.svg" alt="">
                    <p class="ml-2">Schedule</p>
                    <span class="m-auto"></span>
                    <div class="bg-[#0e1218] text-white rounded-md px-2 py-0"><p>99+</p></div>
                </li>
                <li class="transition-colors delay-150 inline-flex w-full py-3 px-3 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
                    <img src="../../../assets/icon/trash.svg" alt="">
                    <p class="ml-2">Trash</p>
                    <span class="m-auto"></span>
                    <div class="bg-[#0e1218] text-white rounded-md px-2 py-0"><p>99+</p></div>
                </li>
                <li class="transition-colors delay-150 inline-flex w-full py-3 px-3 rounded-md hover:bg-[#e0fad8] hover:cursor-pointer">
                    <img src="../../../assets/icon/bell.svg" alt="">
                    <p class="ml-2">Spam</p>
                    <span class="m-auto"></span>
                    <div class="bg-[#0e1218] text-white rounded-md px-2 py-0"><p>99+</p></div>
                </li>
            </ul>
            <hr class="border border-slate-600">
            <div class="inline-flex w-full">
                <h3>Contacts</h3>
                <button class="bg-slate-500">Add</button>
            </div>
            
            <ul>
                <li>Uzumaki Naruto</li>
                <li>Uchiha Sasuke</li>
                <li>Haruno Sakura</li>
            </ul>
        </div>
        <div class="col-span-2">2</div>
        <div class="col-span-8">3</div>
    </div>
</div>