<ul class="px-5 flex flex-row flex-wrap">
    <li class="inline-flex p-3">
        <img class="h-10 w-10" src="../../../assets/icon/tailwind.svg" alt="">
    </li>
    <li class="inline-flex p-3">
        <a class="text-base leading-9" href="">Dashboard</a>
    </li>
    <li class="inline-flex p-3">
        <a class="text-base leading-9" href="">Messenger</a>
    </li>
    <li class="inline-flex ml-auto p-3 items-center">
        <img class="h-6 w-6 object-cover" src="../../../assets/icon/bell.svg" alt="">
    </li>
    <li class="inline-flex p-3">
        <img class="h-10 w-10 rounded-full ring-2 ring-[#0e1218] object-cover" src="../../../assets/icon/person.jfif" alt="">
    </li>
</ul>